
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variable */
:root {
  /* Dark Shades of Primary Color */
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* Primary Main Color */
  --clr-primary-5: #49a6ea;
  /* Lighter Shades of Primary Color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --radius: 0.5rem;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);   
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Robot", sans-serif;
  background-image: url("assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: var(--clr-white);
}

.container-main {
    padding: 1rem;
    box-shadow: var(--dark-shadow);
    border-radius: var(--radius);
}

.container {
    background-color: var(--clr-primary-5);
    color: var(--clr-white);
    padding: 2rem;
    border: 2px solid var(--clr-gold);
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
}

.form-text {
    background-color: var(--clr-white);
    padding: 7px;
    border-radius: var(--radius);
    border: 2px solid var(--clr-gold);
}
